<div class=" results_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>"{{section.settings.title}}"</p>
            </div>
            <div class="col-md-12">
                <div class="carousel">

                    {% for f in section.blocks %}
                        
                   
                <div class="results-brand">
                    <img src="{{c.settings.img | image_url: '' }}" class="lazy" alt="">
                </div>
            
            {% endfor %}
     
         

                </div>
          </div>
        </div>
    </div>
</div>



{% schema %}
    {
        "name": "Result",
        "class": "result",
        "settings": [
         {
             "type": "text",
             "id": "title",
             "label": "Section Title",
             "default": "RESULTS AFTER JUST ONE WEEK",
             "placeholder": "RESULTS AFTER JUST ONE WEEK"
         }
        ],
        "blocks": [
            {
                "type": "imag",
                "name": "imag",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Select your image"
                    }
                ]
            }
        ]
        
    }
{% endschema %}
