<div class="advace_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
               <h2>HEY BUD'S ADVANTAGE</h2>
            </div>
            <div class="col-md-12">
                <div class="acarousel">
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance01.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance02.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance03.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance01.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance01.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
                    <div class="advice-brand text-center">
                        <div class="advice-brand-img">
                            <img src="./assets/images/advance01.png" alt="">
                        </div>
                    
                        <h3>No Nasties</h3>
                        <p>100% Free of silicons, parabens, sulfates, petrolatum palm oil or PEG</p>
                    </div>
            

                </div>
          </div>
        </div>
    </div>
</div>